<nav>
    <ul>
        <li><a href="/">Homepage</a></li>
      <li>
        <a href="/OrderPage">Orders</a>
      </li>
        <div class="SNAV">
            <form action="/CreateOrder/<%= User._id%>" method="GET">
                <button>Create Order</button>
            </form>
        </div>
    </ul>
</nav>