<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <h1>ShopMe DB Test Site</h1>
    <%- include('./partials/nav.ejs') %>
    <div class="Orders">
        <h2>Welcome</h2>
        <p>This is a test site to show the functionality of MongoDB and its use in handleing data.
           Currently the site allows any User to create an "Order" which will be displayed to every
           User that connects to the site. The Site also allows Users to Create an account, log in 
           with that account, and create orders that will be type that users account. This orders 
           will be shown to all users in the main list and in the signed in page it will display only
           orders tied to your account. 
        </p>
    </div>
</body>
</html>